extends ../../layouts/common-admin
block content
    .container
        h1.mt-5 View Lesson
        form(method='POST')
            .form-group
                label(for='exampleInputName') Name
                input#exampleInputName.form-control(type='text' name='name' value=lesson.name)
            .form-group
                label(for='exampleInputVideo') Video ID : ( http://vimeo.com/ )
                input#exampleInputVideo.form-control(type='text' name='videoId' value=lesson.videoId readonly)
            .form-group
                label(for="inputLevel") Level
                input#exampleInputlevel.form-control(type='text' name='level' value=lesson.level)
            .form-group
                label(for='examplQuestion1') Question 1
                input#exampleQuestion1.form-control(type='text' name='question1' value=lesson.question.question1)
            .form-row
                if(lesson.answer.answer1.a.hit === true)
                    .col
                        label(for="exampleAnswer1") Answer A
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerA' class='mr-3' checked=true type='radio' name='answer1_a' value=lesson.answer.answer1.a.name )
                            input( type='text' name='checkA1' value=lesson.answer.answer1.a.title)
                    .col
                        label(for="exampleAnswer1") Answer B
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerB' class=' mr-3' checked=false type='radio' name='answer1_b' value=lesson.answer.answer1.b.name )               
                            input( type='text' name='checkB1' value=lesson.answer.answer1.b.title) 
                else
                    .col
                        label(for="exampleAnswer1") Answer A
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerA' class='mr-3' checked=false type='radio' name='answer1_a' value=lesson.answer.answer1.a.name )
                            input( type='text' name='checkA1' value=lesson.answer.answer1.a.title)
                    .col
                        label(for="exampleAnswer1") Answer B
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerB' class=' mr-3' checked=true type='radio' name='answer1_b' value=lesson.answer.answer1.b.name )               
                            input( type='text' name='checkB1' value=lesson.answer.answer1.b.title)
            .form-group
                label(for='examplQuestion1') Question 2
                input#exampleQuestion1.form-control(type='text' name='question2' value=lesson.question.question2)
            .form-row
                if(lesson.answer.answer2.a.hit === true)
                    .col
                        label(for="exampleAnswer2") Answer A
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerA' class='mr-3' checked=true type='radio' name='answer2_a' value=lesson.answer.answer2.a.name )
                            input( type='text' name='checkA2' value=lesson.answer.answer2.a.title)
                    .col
                        label(for="exampleAnswer2") Answer B
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerB' class=' mr-3' checked=false type='radio' name='answer2_b' value=lesson.answer.answer2.b.name )               
                            input( type='text' name='checkB2' value=lesson.answer.answer2.b.title)
                else
                    .col
                        label(for="exampleAnswer2") Answer A
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerA' class='mr-3' checked=false type='radio' name='answer2_a' value=lesson.answer.answer2.a.name )
                            input( type='text' name='checkA2' value=lesson.answer.answer2.a.title)
                    .col
                        label(for="exampleAnswer2") Answer B
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerB' class=' mr-3' checked=true type='radio' name='answer2_b' value=lesson.answer.answer2.b.name )               
                            input( type='text' name='checkB2' value=lesson.answer.answer2.b.title)
            .form-group
                label(for='examplQuestion3') Question 3
                input#exampleQuestion1.form-control(type='text' name='question3' value=lesson.question.question3)
            .form-row
                if(lesson.answer.answer3.a.hit === true)
                    .col
                        label(for="exampleAnswer3") Answer A
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerA' class='mr-3' checked=true type='radio' name='answer3_a' value=lesson.answer.answer3.a.name )
                            input( type='text' name='checkA3' value=lesson.answer.answer3.a.title)
                    .col
                        label(for="exampleAnswer3") Answer B
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerB' class=' mr-3' checked=false type='radio' name='answer3_b' value=lesson.answer.answer3.b.name )               
                            input( type='text' name='checkB3' value=lesson.answer.answer3.b.title)
                else
                    .col
                        label(for="exampleAnswer3") Answer A
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerA' class='mr-3' checked=false type='radio' name='answer3_a' value=lesson.answer.answer3.a.name )
                            input( type='text' name='checkA3' value=lesson.answer.answer3.a.title)
                    .col
                        label(for="exampleAnswer3") Answer B
                        .answer.mt-3.align-item-center.mb-3
                            input(id='answerB' class=' mr-3' checked=true type='radio' name='answer3_b' value=lesson.answer.answer3.b.name )               
                            input( type='text' name='checkB3' value=lesson.answer.answer3.b.title)
            .form-group
                label(for="textareaScript") Script
                textarea#textareaScript(name="script", cols="155", rows="10" )=lesson.script
            button.btn.btn-primary.mr-3(type='submit') Update
block footer
    script
            include ../../public/main.js